extends layout
block content
  h1= title
  - let hat =results
  div(class="container-fluid")
  div(class="row m-1")
   each item in hat  
    - let destination = 'dispatch("/hat/update?id=${item._id}\")'
    div(class="row-sm-2" class="m-1") #{item.hat_color}, #{item.hat_type}, #{item.hat_size}
      button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path)
    {
      window.location.href=path
    }