extends layout

block content
  h1= title
  p Welcome to #{title}
  - var hats = results
  div.container-fluid
     div.row
        each item,index in hats
            div.col-sm-2(onclick=`buy(${index})`) Hat Color : #{item["hat_color"]}  <br>  Hat Type : #{item["hat_type"]} <br> Hat Size : #{item["hat_size"]} 
  script.
      function buy(index){
         alert("you purchased item "+(index+1))
      }
  